/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   
   html,body{ 
     width:100%;
     height:100%;
     background:#111;
     overflow: none;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     font:normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   
   /* ---- stats.js ---- */
   
   .count-particles{
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles{
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats{
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }
   
   .count-particles{
     border-radius: 0 0 3px 3px;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: #ffffff;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   
   #particles-text {
     position: absolute;
     margin-top: 15px;
   }
   
   
   
   .header{
     height: 70px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 2;
     position: fixed;
     overflow: hidden;
   }
     
   .name {
    padding-right: 20px;
       color: #000000;
       margin-left: 20px;
       font-weight: bold;
       font-size: 35px;
       font-family: orbitron;
       white-space: nowrap; /* Prevent text from wrapping */
       overflow: hidden; /* Hide overflowing text */
       text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
     }  
   
   
   .left-section{
     margin-top: 10px;
     display: flex;
     align-items: center;
     align-self: center;
     flex-shrink: 2;
     flex-wrap: nowrap;
   }
   
   .right-section{
     overflow: hidden;
     margin-top: 10px;
     color: #000000;
     width: 350px;
     font-size: 20px;
     margin-right: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-shrink: 3;
   }
   
   .home:hover{
     cursor: pointer;
     text-decoration: underline;
   }

   

   .home{
    color: black;
    stroke: black;
   }
   
   
   .box{
       position: fixed;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       height: 700px;
       width: 430px;
       border-radius: 50px;
       margin-top: 50px;
   }
   
   .photos{
     margin-left: 88px;
     margin-top: 40px;
     position: absolute;
     align-items: center;
   }
   
   .smexy-photo{
     position: absolute;
     border-radius: 25px;
     height: 330px;
     width: 260px;
   }
   
   
   
   .nn{
     position: relative;
     font-size: 30px;
   }
   .what{
     font-size: 20px;
   }
   
   .nametwo{
     text-align: center;
     margin-top: 385px;
   }
   
   .socials{
     margin-top: 20px;
   }
   
   .mail{
     margin-top: 10px;
     margin-left: 120px;
     height: 30px;
     width: 30px;
   }
   
   .linkedin{
     margin-top: 5px;
     margin-left: 20px;
     height: 30px;
     width: 30px;
   }
   
   .github{
     margin-top: 10px;
     margin-left: 20px;
     height: 30px;
     width: 30px;
   }
   
   .connect{
     margin-top: 10px;
     margin-left: 15px;
     height: 30px;
     width: 30px;
   }
   
   .mail,.linkedin,.github,.connect:hover{
     cursor: pointer;
   }
   
   .resume{
     margin-top: 20px;
     margin-left: 35.5%;
   }
   
   .resume-button{
       background-color: white;
       color: black;
       font-weight: bold;
       font-size: 15px;
       border-radius: 5px;
       border-color:  black;
       border-style: solid;
       border-width: 1px;
       height: 46px;
       width: 95px;
       cursor: pointer;
       margin-left: 15px;
       transition: background-color 0.3s, color 0.3s;
       vertical-align: top;
       font-weight: bold;
   }
   
   .resume-button:hover{
     background-color: rgb(0, 0, 0);
     color: white;
   }
   
   .resume-button:active{
     opacity: 0.6;
   }
   
   .socials a svg {
     stroke: #000; /* Define the color for the SVG icons */
   }
   
   @media(max-width: 800px){
     #particles-text{
       flex-direction: row;
       flex: 2;
     }
   }
   
   @media(min-width: 1000px){
     #particles-text{
       flex-direction: row;
     }
   }

   .dark-mode {
    color: #ffffff;
    
    #particles-js{
      background-color: #242424;
    }

    #mode-toggle{
      background-color: #242424;
    }

    .home{
      color: white;
    }
    .name{
      color: white;
    }

    .socials a svg{
      stroke: white;
    }

    .home{
      stroke: white;
    }

    .posnam,.compnam,.tenure{
      color: black;
    }

    .iet,.adg{
      background-color: white;
    }

    #moon {
      color: white;
    }
}

#mode-toggle:hover{
  cursor: pointer;
  opacity: 0.8;
}

#mode-toggle:active{
  opacity: 0.6;
}

#mode-toggle{
  background-color: white;
  border-style: hidden;
  border-radius: 500px;
  height: 53px;
  width: 55px;
  font-weight: bold;
}

.exp{
  font-family: orbitron;
  font-size: 35px;
  position: fixed;
  left: 25%;
  top: 53%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 430px;
  border-radius: 50px;
  margin-top: 40px;
}

.main{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 300px;
  row-gap: 40px;
  margin-top: 20%;
  margin-left: 23%;
}

.iet{
  height: 150px;
  width: 1000px;
  background-color: rgb(0, 0, 0);
  position: relative;
  border-radius: 20px;
  border-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iet,.adg:hover{
  cursor: pointer;
}

.adg{
  height: 150px;
  width: 1000px;
  background-color: rgb(0, 0, 0);
  position: relative;
  border-radius: 20px;
}

.posnam{
  color: white;
  font-size: 35px;
  font-family: orbitron;
  position: relative;
  left: 3%;
  top: 13%;
}

.compnam{
  color: white;
  font-size: 18px;
  font-family: orbitron;
  position: relative;
  left: 3%;
  top: 22%;
}

.tenure{
  color: white;
  font-size: 15px;
  font-family: orbitron;
  position: relative;
  left: 3%;
  top: 23%;
}

:root {
  --icon-color-light: #000000; /* Color for light mode */
  --icon-color-dark: #FFFFFF; /* Color for dark mode */
}

#theme-toggle svg {
  height: 18px
}

button#theme-toggle {
  font-size: 26px;
  margin: auto 4px
}

body.dark-mode #sun {
  vertical-align: middle;
  display: none
}

body:not(.dark-mode) #moon {
  display: none
}


   
   